body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
    flex: 1 0 auto;
}

@media #{$large-and-up} {
    main.container,
    nav > .nav-wrapper > .container {
        width: 90%;
    }
}
